<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud con LocalStorage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-7">
            <h1 class="text-center">CRUD Pedidos</h1>
          </div>
          <div class="col-7">
            <form class="p-4 border rounded bg-body-tertiary">
              <div class="mb-3">
                <label for="" class="form-label">Cliente</label>
                <input type="text" class="cliente form-control" id="" required />
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Producto</label>
                <select class="producto form-select" id="" required>
                  <option selected hidden value="">Selecciona un producto</option>
                  <option value="Pizza">Pizza</option>
                  <option value="Lasagna">Lasagna</option>
                  <option value="Pasta">Pasta</option>
                  <option value="Hamburguesa">Hamburguesa</option>
                  <option value="Perro">Perro</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Precio</label>
                <input
                  type="number"  min="20000"         
                  class="precio form-control"
               />
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Imagen</label>
                <input type="url" class="imagen form-control" id="" required/>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Observación</label>
                <input type="text" class="observacion form-control" id="" />
              </div>
              <button type="button" class="btn-guardar btn btn-primary">
                Guardar Pedido
              </button>
              <button type="button" class="btn-actualizar btn btn-success d-none">
                Actualizar Pedido
              </button>
            </form>
          </div>
          <div class="col-7">
            <table class="table mt-5">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Cliente</th>
                  <th>Producto</th>
                  <th>Precio</th>
                  <th>Imagen</th>
                  <th>Descripción</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="ander.js"></script>
</body>
</html>